<!DOCTYPE html>
<html>
<head>
	<title>Admin Login page</title>
	<link rel="stylesheet" type="text/css" href="/abc/style.css">
</head>
<body>

<fieldset>
	<legend>Login</legend>
	<form method="post" >
	<table>
		<tr>
			<td>Admin name:</td>
			<td><input type="text" name="aname"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="apass"></td>
		</tr>
		<tr>
			<td><input type="submit" name="submit" value="Submit"></td>
			<td></td>
		</tr>
	</table>
	</form>
	<a href="/admin/registration">Admin registration</a> 
</fieldset>
</body>
</html>