<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome To Food Blog!</h1>
	<a href="/admin/alogin">Admin login</a> |
	<a href="/member/mlogin">Member login</a> | 
	

</body>
</html>