<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Welcome Home!</h1>
	
	<a href="/member/memberlist">MemberList</a> | 
	<a href="/admin/adminlist">UserList</a> | 
	<a href="/logout">logout</a>

</body>
</html>